<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.mapper.CommentMapper">

    <select id="pageQuery" resultType="com.travel.entity.Comment">
        select * from comment
        <where>
            <if test="entityType != null">
                and entity_type = #{entityType}
            </if>
            <if test="entityId != null">
                and entity_id = #{entityId}
            </if>
                and status = 0
        </where>
        order by create_time desc
    </select>
</mapper>
